@model BookTheShowEntity.Userv
@*//this name should be the name of projects under dependencies after adding referrences in MvcUi*@

<div>
    <a asp-controller="Main" asp-action="Login">Login</a>
    <hr />
</div>
<div>
    <a asp-controller="Main" asp-action="Register">Register</a>
    <hr />
</div>